<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de compras</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Crie sua conta ou entre</h1>
    <div class="inicial">
        
        <a href="/login"> Entrar</a>
        <a href="/register"> Registrar</a>
    </div>
</body>
</html>