<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Compras</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/b324a14b01.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
    
    
    <div id="addItemDiv" class="form">
        <form action="/lista/adicionarItem" method="post">
            <label for="novo item">Novo item: </label>
            <input type="text" id="novo item" name="titulo" class="novoItem"> 
            <div class="divadd">
                <button type="submit" class="adicionar">Adicionar</button>
            </div>    
            
        </form>
    </div>
    <div class="card">
        <ul>
        <%   itens.map((item) => { %>
                <li class="item" data-id='<%= item._id %>'>
                    <div class="dentro">
                        <span class="<%= item.completo == 'true' ? 'completo' : 'incompleto' %>" ><p><%= item.titulo %></p></span>             
                        <span class="delete" id="del"><i class="fas fa-trash"></i></span>
                    </div>    
                </li>
        <%    })%>
        </ul>
    </div>
    <div class="finalizarLista">
        <button class="finaliza" id="finaliza"><p>Finaliza lista</p></button>
    </div>
</div>

    <script>
        const deleteBtn = document.querySelectorAll('.delete')
        const item = document.querySelectorAll('span.incompleto')
        const itemCompleto = document.querySelectorAll('span.completo')


        Array.from(deleteBtn).forEach((element) => {
            element.addEventListener('click', deleteItem)
        })
        
        async function deleteItem() {
            const item = this.parentNode.parentNode.dataset.id
            console.log(item)
            try{
                const response = await fetch('lista/deletarItem', {
                    method: 'delete',
                    headers: {'Content-type': 'application/json'},
                    body: JSON.stringify({
                        'itemIDFromJSFile': item
                    })
                })
                const data = await response.json()
                console.log(data)
                location.reload()

            }catch(error){
                console.log(error)
            }
        }

        Array.from(item).forEach((element) => {
            element.addEventListener('click', completar)
        })

        async function completar(){
            const itemId = this.parentNode.parentNode.dataset.id
            try{
                const response = await fetch('/lista/completarItem', {
                    method: 'put',
                    headers: {'Content-type': 'application/json'},
                    body: JSON.stringify({
                        'itemIDFromJSFile': itemId
                    })
                })
                const data = await response.json()
                console.log(data)
                location.reload()
            }catch(error){
                console.log(error)
            }
        }
        Array.from(itemCompleto).forEach((element) => {
            element.addEventListener('click', incompletar)
        })

        async function incompletar(){
            const itemId = this.parentNode.parentNode.dataset.id
            try{
                const response = await fetch('/lista/incompletarItem', {
                    method: 'put',
                    headers: {'Content-type': 'application/json'},
                    body: JSON.stringify({
                        'itemIDFromJSFile': itemId
                    })
                })
                const data = await response.json()
                console.log(data)
                location.reload()
            }catch(error){
                console.log(error)
            }
        }
        const element = document.getElementById('finaliza')
        element.addEventListener('click', finalizarLista)

        async function finalizarLista(){
           console.log('au')
            try{
                const response = await fetch('/lista/finalizarLista', {
                    method: 'delete',
                    
                })
                const data = await response.json()
                console.log(data)
                location.reload()
            }catch(error){
                console.log(error)
            } 
        }

    </script>
</body>
</html>