<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- form em acordo com W3C Web Accessibility Initiative  -->
    <h1>Entre em sua conta</h1>

    <form  action="/login" method="post">
        <div>
            <label for="usuario">Usuário<span>*</span></label>
            <input type="text" id="usuario" aria-describedby="usuario-ajuda" aria-labelledby="usuário" placeholder="Usuário" required name="username">
        </div>
        <div>
            <label for="senha">Senha<span>*</span></label>
            <input type="text" id="usuario" aria-describedby="senha-ajuda" aria-labelledby="senha" placeholder="Senha" required name="password">
        </div>
        <div>
            <input type="submit" class="enviar"></input>
        </div>
    </form>
</body>
</html>